<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.PrimitivaGB"
        version     = "2016.08.08.01"
        versionCode = "21" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="cli-6.3.0" />

        <name>PrimitivaGB</name>

        <description>Primitiva GB</description>

        <author href="http://www.google.es" email="jordi.gbaquero@gmail.com">
        Jordi Garcia-Baquero Lleixa
        </author>
        
        <preference name="android-build-tool" value="ant|gradle" />
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-maxSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="15" />
        <preference name="android-installLocation" value="auto" />
        <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
        
        <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
        <!--<plugin name="org.apache.cordova.media" source="pgb" spec="0.2.8" />-->
    </widget>
